body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.navbar a button{
  background:none;
  border: none;
  position: absolute;
  top : 20px;
  left : 4.5%;
  z-index:10;
}
.navbar a button:hover{
  cursor:pointer;
}
.navbar a button:before{
  content: "\e906";
  font-family: 'xeicon';
  font-size: 100px;
  font-weight: bold;
  color: black;
}
.navbar{
}
.navbar ul{
  position: absolute;
  margin: 0;
  padding : 0;
  top : 50px;
  right :5.2%;
  width: 100%;
}
.navbar ul li{
  position: relative;
  list-style: none;
  float: right;
  margin-left: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 20px;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
}

.navbar ul li:hover{
  font-weight: 500;
  cursor: pointer;
}
.head_img{
  position: absolute;
  top: 150px;
  left : 5.2%;
  width: 350px;
  height: 715px;
  background:;
  overflow: hidden;
}
.img img{
  width: 100%;
}
.title{
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #303030;
  top: 170px;
  left : 6.2%;
  line-height: 40px;
}
.sub_img a,.sub_img2 a{
  text-decoration: none;
  color: white;
}

/*첫줄*/
.sub_img{
  position: absolute;
  left :720px;
  margin-top :150px;
  z-index: 0;
  display: flex;
  overflow: hidden;
  margin-left: 400px;
}
.sub_img div{
  width: 300px;
  height: 340px;
}
.sub_1 , .sub_2{
  margin-left: 50px;
  position: relative;
  overflow: hidden;
}
.sub_img div img{
  width: 100%;
}
.sub_1_1 , .sub_2_1 ,.sub_4_1{
  position: absolute;
  top:250px;
  left: -100px;
  transition: all 0.3s ease-in-out;
  line-height: 35px;
  font-size: 2em;
  font-family: 'Hahmlet', serif;
  font-weight: 300;
  color: black;
}
.sub_3_1 {
  position: absolute;
  top:215px;
  left: -100px;
  transition: all 0.3s ease-in-out;
  line-height: 35px;
  font-size: 2em;
  font-family: 'Hahmlet', serif;
  font-weight: 300;
  color: black;
}
.sub_1:hover .sub_1_1{
  left: 15px;
}
.sub_2:hover .sub_2_1{
  left: 15px;
}
.sub_3:hover .sub_3_1{
  left: 15px;
}
.sub_4:hover .sub_4_1{
  left: 15px;
}

/*둘줄*/

.sub_img2{
  position: absolute;
  margin-top :520px;
  display: flex;
  left :720px;
  overflow: hidden;
  margin-left: 100px;
}
.sub_img2 div{
  width: 300px;
  height: 340px;
}
.sub_4{
  margin-left: 50px;
  position: relative;
  overflow: hidden;
}
.sub_img2 div img{
  width: 100%;
}
@media screen and ( min-width : 769px ) and ( max-width : 1366px ){
  .sub_img{
    position: absolute;
    left :45%;
    margin-top :150px;
    z-index: 0;
    display: flex;
    overflow: hidden;
    margin-left:0;
  }
  .sub_img div{
    width: 300px;
    height: 340px;
  }
  .sub_1 , .sub_2{
    margin-left: 50px;
    position: relative;
    overflow: hidden;
  }
  .sub_img div img{
    width: 100%;
  }
  .sub_1_1 , .sub_2_1 ,.sub_4_1{
    position: absolute;
    top:250px;
    left: -100px;
    transition: all 0.3s ease-in-out;
    line-height: 35px;
    font-size: 1.75em;
    font-family: 'Hahmlet', serif;
    font-weight: 300;
    color: black;
  }
  .sub_3_1 {
    position: absolute;
    top:215px;
    left: -100px;
    transition: all 0.3s ease-in-out;
    line-height: 35px;
    font-size: 1.75em;
    font-family: 'Hahmlet', serif;
    font-weight: 300;
    color: black;
  }
  .sub_1:hover .sub_1_1{
    left: 15px;
  }
  .sub_2:hover .sub_2_1{
    left: 15px;
  }
  .sub_3:hover .sub_3_1{
    left: 15px;
  }
  .sub_4:hover .sub_4_1{
    left: 15px;
  }

  /*둘줄*/

  .sub_img2{
    position: absolute;
    margin-top :520px;
    display: flex;
    left :48.6%;
    overflow: hidden;
    margin-left: 0;
  }
  .sub_img2 div{
    width: 300px;
    height: 340px;
  }
  .sub_4{
    margin-left: 50px;
    position: relative;
    overflow: hidden;
  }
  .sub_img2 div img{
    width: 100%;
  }
}


@media screen and ( min-width : 481px ) and ( max-width : 769px ){
  body{
    overflow-y: scroll;
  }
  .title{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #303030;
    top: 170px;
    left :7.2%;
    line-height: 40px;
  }
  .sub_img{
    position: absolute;
    left :-1%;
    margin-top :950px;
    z-index: 0;
    display: flex;
    margin-left:0;
  }
  .sub_img div{
    width: 300px;
    height: 340px;
  }
  .sub_1 , .sub_2{
    margin-left: 50px;
    position: relative;
    overflow: hidden;
  }

  .sub_img div img{
    width: 100%;
  }
  .sub_1_1 , .sub_2_1 ,.sub_4_1{
    position: absolute;
    top:250px;
    left: -100px;
    transition: all 0.3s ease-in-out;
    line-height: 35px;
    font-size: 1.7em;
    font-family: 'Hahmlet', serif;
    font-weight: 300;
    color: black;
  }
  .sub_3_1 {
    position: absolute;
    top:215px;
    left: -100px;
    transition: all 0.3s ease-in-out;
    line-height: 35px;
    font-size: 1.7em;
    font-family: 'Hahmlet', serif;
    font-weight: 300;
    color: black;
  }
  .sub_1:hover .sub_1_1{
    left: 15px;
  }
  .sub_2:hover .sub_2_1{
    left: 15px;
  }
  .sub_3:hover .sub_3_1{
    left: 15px;
  }
  .sub_4:hover .sub_4_1{
    left: 15px;
  }

  /*둘줄*/

  .sub_img2{
    position:absolute;
    margin-top :1380px;
    padding-bottom: 80px;
    display: flex;
    left :6%;
    overflow: hidden;
    margin-left: 0;
  }
  .sub_img2 div{
    width: 300px;
    height: 340px;
  }
  .sub_4{
    margin-left: 50px;
    position: relative;
    overflow: hidden;
  }
  .sub_img2 div img{
    width: 100%;
  }
}


@media screen and ( max-width : 480px ) {
  body{
    position: absolute;
    overflow: scroll;
    max-width: 100%;
    max-height: auto;
    width: auto;
    display: block;
  }
  .navbar {
    position: relative;
    margin: 0;
    padding: 0;
    top:0;
  }
  .navbar a button{
    position: absolute;
    top: 15px;
    left: 21px;
  }
  .navbar a button:before{
    font-size: 3em;
  }
  .navbar ul{
    position: relative;
    margin-left: 0px;
    left:190px;
    top:20px;
  }
  .navbar ul li{
    margin-left: 20px;
    right: 0px;
    font-size: 15px;
  }


  .head_img{
    width: 340px;
    position: absolute;
    top: 70px;
    left:30px;
    height : 600px;
  }
  .title{
    position: absolute;
    top: 80px;
    left: 40px;
    font-size: 25px;
    line-height: 30px;
    color: white;
  }
  .title2{
    position: absolute;
    top: 600px;
    left: 340px;
    font-size: 25px;
    line-height: 30px;
    color: white;
  }


  .sub_img, .sub_img2{
   display: block;
   position: absolute;
   top: auto;
  }
  .sub_img{
    position: absolute;
    top: 550px;
    left: -395px;
    overflow: hidden;
    display: flex;
  }
  .sub_img div{
    width: 150px;
    margin-left:30px;
  }

  .sub_img2 div div{
    margin-left: 0px;
  }
  .sub_1_1 , .sub_2_1{
    max-height: 50px;
  }




  .sub_img2{
    position: absolute;
    margin: 0;
    top: 900px;
    left: 0;
    overflow: hidden;
    display: flex;
  }
  .sub_img2 div {
    width: 150px;
    margin-left: 30px;

  }
  .sub_img2 div div{
    margin-left: 0px;
    overflow: hidden;
  }

  .sub_1_1 , .sub_2_1 ,.sub_4_1{
    position: absolute;
    top:120px;
    left: -100px;
    transition: all 0.3s ease-in-out;
    line-height: 20px;
    font-size: 1em;
    font-family: 'Hahmlet', serif;
    font-weight: 300;
    color: black;
  }
  .sub_3_1 {
    position: absolute;
    overflow: hidden;
    top:75px;
    left: -100px;
    transition: all 0.3s ease-in-out;
    line-height: 28px;
    font-size: 1em;
    font-family: 'Hahmlet', serif;
    font-weight: 300;
    color: black;
  }
  .sub_1:hover .sub_1_1{
    left: -17px;
  }
  .sub_2:hover .sub_2_1{
    left: -17px;
  }
  .sub_3:hover .sub_3_1{
    left: 40px;
  }
  .sub_4:hover .sub_4_1{
    left: 13px;
  }
}
